@import "@/assets/styles/nprogress.scss";
@import "@/assets/styles/markdown.scss";
@import "@/assets/styles/dark.scss";

* {
  margin: 0;
  padding: 0;
}
body {
  --bg-color: rgb(255, 255, 255);
  --bg-select-color: rgb(192, 192, 192);
  --bg-select-activate-color: rgb(101, 101, 101);
}
